/groupProject/dist/
/groupProject/build/
/groupProject/nbproject/private/
/groupProject/nbproject/private/private.properties
/groupProject/nbproject/private/project.properties
/N02/nbproject/private/
/N02/build/
/N02/dist/